/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require trix
 */

 /* UTILITY */
 body, div, a, p, li, span, h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', serif !important;
}

body { /* ######################################################################### FONT */ 
    font-size: 16px;
}

body {
    width: 100%;
    margin: 0px !important;
    padding: 0px !important;
}

footer {
    background-color: #1fa2d7;
    width: 100%;
    height: auto;
    margin: 0px !important;
    padding: 0px !important;
}

.border-shadow-1 { /* member_event#show events#show */
    border: 2px solid #343a40;
    border-radius: 10px;
    box-shadow: 2px 2px #343a40;
    padding: 10px;
}

.hr-dark-1 {
    background-color: #343a40;
}

.check_box_scale_1 {
    transform: scale(2) translate(6px, 4px);
    margin-bottom: 20px;
}

.check_box_scale_2 { /* member_event#show */
    transform: scale(2) translate(6px, 1px);
    margin-bottom: 20px;
}

.table-border-top {
    border-top: 1px solid #dee2e6;  
}

.table-border-bottom {
    border-bottom: 1px solid #dee2e6;  
}

#event_booth_list td {
    border: none !important;
}

.bg-highlight-1 {
    background-color: aqua;
}

.text-highlight {
    color: #2a548c;
}

.text-title-highlight {
    color: #711f7e;
}

.btn-orange, .btn-orange:visited {
    color: #ffffff !important;
    background-color: #f57e2f !important;
    border-color: #f57e2f !important;
}
  
.btn-orange:hover {
    color: #ffffff !important;
    background-color: #fac02e !important;
    border-color: #fac02e !important;
}

.btn-orange:focus, .btn-orange.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}
/* TABLES */
.display-table-dark-1 {
    margin: 10px;
}

.display-table-dark-1 th {
    background-color: #343a40;
    color: white;
    font-weight: 100;
}

.display-table-dark-1 tr {
    
}

.display-table-dark-1 td, .display-table-dark-1 th {
    border: 1px solid black;
    padding: 10px 30px 10px 10px;
}

.display-table-dark-1 td {
}

/* IMAGES */
.img-max-800-px, .img-max-800-px img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.img-max-800-px img {
    max-width: 800px;
    margin: auto;
    display: block;
}

/* forms */
.text-field input, .password-field input {
    min-width: 400px !important;
    max-width: 400px !important;
}

/* links */
#landing_nav a {
    color: white; 
    text-align: center;
    width: 20%;
    font-weight: bold;
    padding: 10px;
}

#landing_nav a:hover {
    text-decoration: none;
    /* background-color: #fac02e; */
    color: #fac02e;
    background-color: rgba(0,0,0,0);
}

#public-school a:visited, #clearance a:visited {
    color: #2a548c;
}

#public-school a:hover, #clearance a:hover {
    color: #2a548c;
    background-color: rgba(0,0,0,0);
}

/* ANIMATION */
.radiance {
    border: 1px solid #9e005d;
    animation: radiance 3s infinite;
}

@keyframes radiance { 
    0%, 100% {box-shadow: 0 0 10px #e6dada;} 
    50% {box-shadow: 0 0 15px #ed1c24;} 
}

.carousel-control-dir a:hover {
    background-color: rgba(0,0,0,0.7);
}




@media (min-width: 1200px) {
    .mobile-100 {
        width: 70% !important;
        min-width: 900px !important;
    }

    #about-gallery {
        width: 40vw;
        max-height: 500px;
        margin: 0px 0px 30px 30px;
        float: right;
    }
    
    #about-video {
        width: 40vw;
        margin: 0px 0px 30px 30px;
        float: right;
        line-height: 100% !important;
    }

    body, p, li, div {
        font-size: 1.2rem !important;
        line-height: 170% !important;
    }

    footer p, footer h5, footer h6 {
        font-size: 1rem !important;
        white-space: normal !important;
    }

    .font-size-small {
        font-size: 0.8rem !important;
    }
}

@media (max-width: 1200px) {
    .mobile-100 {
        width: 100%;
        padding: 0px 30px;
    }

    #about-gallery {
        margin: 0 0 15px 0;
        height: 50vh;
        min-height: 400px;
        max-height: 600px;
        width: 100%;
        clear: both;
    }

    body, p, li, div, h2, a, input {
        font-size: 2rem !important;
        line-height: 170% !important;
        white-space: normal !important;
    }

    footer p, footer h5, footer h6 {
        font-size: 1.5rem !important;
        line-height: 140% !important;
        white-space: normal !important;
    }

    #landing_nav a {
        font-size: 1.5rem !important;
        line-height: 130% !important;
    }

    .font-size-small {
        font-size: 1.2rem !important;
    }
}

.admin-gallery-container {
    width: 550px;
    border: 1px solid purple;
    padding: 15px;
    border-radius: 10px;
}

.gallery-item {
    width: 500px;
    height: 500px;    
    margin: auto;
}

.admin-gallery-item {
    width: 500px;
    height: auto;    
    margin: auto;
}

.admin-gallery-item img, #about-gallery div img {
    height: auto ;
    width: 100%;
    object-fit: cover !important;
    margin: auto !important;
    overflow: hidden !important;
}

.admin-gallery-item button {
    margin: auto !important;
}

.school-badge, .school-badge img {
    min-height: 100px !important;
    max-height: 100px !important;
    width: auto;
}

.school-profile-badge, .school-profile-badge img {
    max-height: 200px !important;
    width: auto;
}

.school-badge img, .school-profile-badge img {
    object-fit: cover;
}

#landing_nav {
    background-color: #f57e2f;
    vertical-align: middle;
}

#about-gallery {
    box-shadow: 5px 10px #e3e3e3;
    border-radius: 10px;
}

#about-video video {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 5px 10px #e3e3e3;
}

/* EVENT BANNER IMAGE */
.event-banner-1, .event-banner-1 img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.event-banner-1 img {
    max-width: 1000px;
}

/* --------------------------------------------------------------------------------------------- */
/* events#show member_events#show  */
.border_shadow_1_nav ul li {
    list-style: none;
    display: inline;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 8px;
    border: 1px solid #343a40;
    margin-right: 5px;
    box-shadow: 2px 0px #343a40;
}

.border_shadow_1_nav ul {
    margin-bottom: 3px;
    margin-left: -30px;
}

.border_shadow_1_nav ul li:hover {
    background-color: #343a40;
    color: white;
    cursor: pointer;
}

.admin_event_show_details {
    padding: 10px;
}

